/*--------------------- FONTS --------------------- */

@font-face {
    font-family: 'Hollow Knight';
    src: url('../css/fonts/Trajan\ Pro\ Regular.ttf');
}

@font-face {
    font-family: 'Elden Ring';
    src: url('../css/fonts/mantinia.otf');
}

@font-face {
    font-family: 'Genshin Impact';
    src: url('../css/fonts/Genshin\ Impact.ttf');
}

@font-face {
    font-family: 'Minecraft Regular';
    src: url('../css/fonts/MinecraftRegular.otf');
}

@font-face {
    font-family: 'Chopsic';
    src: url('../css/fonts/Chopsic.ttf');
}

@font-face {
    font-family: 'Aller Regular';
    src: url('../css/fonts/Aller\ Regular.ttf');
}

@font-face {
    font-family: 'Aller Italic';
    src: url('../css/fonts/Aller\ Italic.ttf');
}

/*-------------------- CURSOR -------------------- */

.cursorPointer {
    cursor: url(../css/cursor/pngPasCasser/cursorPointer.png), auto;
}

/*--------------------- CSS --------------------- */

body {
    background-image: url("../css/backgrounds/bgBlackAndGold2.webp");
    background-attachment: fixed;
    background-size: 100%;
    font-size: 150%;
    font-family: 'Aller Regular';
    color : #f4f2f2;
    
}

#body {
    line-height: 2rem;
    margin: 0rem 2rem 2rem 2rem;
    cursor: url(../css/cursor/pngPasCasser/cursor.png), auto;
}

p {
    color : #f4f2f2;
    padding: 2.5rem; 
    text-align: justify;
    margin: 2rem 0rem 0rem 0rem;
    line-height: 2rem;
    background-image: url("../css/backgrounds/backgroundAnthracite.png");
    border: gold 0.1rem inset;
    border-radius: 1rem 1rem 1rem 1rem; 
}

ul {
    color : #f4f2f2;
    border-width: 0.1em;
    padding: 2%;
}

.listeParagraphe {
    color : #f4f2f2;
    border-width: 0.1em;
    padding: 2%;
    text-indent: 2rem;
    list-style-position: inside;
}

li {
    margin-bottom: 2rem;
}

.EldenRing {
    font-family: 'Elden Ring';
}

.sujet {
    color: gold;
    text-indent: 2rem;
    margin: 2rem 0rem 1rem 0rem;
}

.sousTitre {
    color: gold;
    text-indent: 4rem;
    margin: 1rem 0rem 1rem 0rem;
}

.sousTitreSecond {
    color: gold;
    text-indent: 6rem;
    margin: 2rem 0rem 1rem 0rem;
}

a:any-link {
    color: gold;
    text-decoration: none;
}

a:hover {
    text-shadow: gold 1px 0 10px;
}

#envoie:hover {
    color: #e78f8e;
    background-color: black;
}

#envoie {
    color: black;
}

a:active {
    color: #f4f2f2;
}

table {
    border: gold 0.1rem inset;
    background-image: url(../css/backgrounds/backgroundAnthracite.png);
    text-align: center;
    border-collapse: collapse;
}

tbody {
    background-image: url("../css/backgrounds/backgroundAnthracite.png");
    border: gold 0.1rem inset;
    border-collapse: collapse;
}

thead {
    border: gold 0.1rem inset;
    text-align: center;
    background-image: url("../css/backgrounds/backgroundAnthraciteV2.png");
}

th {
    border: gold 0.1rem inset;
}

td {
    border: gold 0.1rem inset;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    width: 10rem;
    border: solid;
    border-color: #e78f8e;
    border-width: 0.1rem;
    background-image: url(../css/backgrounds/backgroundAnthraciteV2.png);
}

.formElement {
    margin-bottom: 1rem;
}

.formTitleElement {
    text-align: center;
    font-weight: bold;
    color: #E78F8E;
}

.formulaire {
    color:#E78F8E;
    margin: 2rem 0rem 1rem 0rem;
}

.lienJoueur {
    background-size: 1rem;
    background-repeat: no-repeat;
}

.lettrine::first-letter {
    font-size: 6rem;
    font-family: 'Hollow Knight';
    float: left; 
    margin: 1rem .5rem 1.5rem 0rem;
}

.regroupement {
    display: flex;
    margin: 2rem 2rem 0rem 0rem;
    flex-direction: line;
    justify-content: center;
    align-items: center;
}

.regroupement p {
    width: 29.8rem;
    margin: 0rem 2rem 0rem 2rem;
}

.regroupementFicheJoueur {
    display: flex;
    margin: 2rem 2rem 0rem 0rem;
    flex-direction: line;
    justify-content: space-between;
}

.paragrapheSpecial {
    background-image: url("../css/backgrounds/backgroundAnthraciteV2.png");
    border-style: inset;
    border-color: gold;
    border-width: 0.1em;
    margin: 2%;
    margin-bottom: 1rem;
}

caption {
    caption-side: bottom;
    background-image: url("../css/backgrounds/backgroundAnthraciteV2.png");
    border: gold 0.1rem inset;
}

.ficheJoueur {
    border: gold 1px solid;
    background-image: url(../css/backgrounds/backgroundAnthraciteV2.png);
    text-align: center;
    border-collapse: collapse;
}

.imgCoursesMK8DX {
    width: 45rem;
}

#navAcceuil {
    text-align: center;
    background-image: url(../css/backgrounds/backgroundAnthracite.png);
    position: sticky;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    width: 100%;
    /* width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 1000; */
}

#navAcceuil > ul {
    display: flex;
    list-style-type: none;
    padding: 0rem;
    border-bottom: gold 0.1rem inset;
    justify-content: flex-start;
}

.navItem {
    background-image: url(../css/backgrounds/backgroundAnthraciteV2.png);
    border: gold 0.1rem inset;
    border-radius: 1rem 1rem 1rem 1rem;
    margin: auto;
    padding: 1rem;
}

#imgCoursesMK8DXPart1 {
    border-radius: 2rem 0rem 0rem 2rem;
    border: gold 0.1rem double;
}

#imgCoursesMK8DXPart2 {
    border-radius: 0rem 2rem 2rem 0rem;
    border: gold 0.1rem double;
}

#title {
    text-align: center;
    font-size: 6rem;
    padding: 2rem 0rem 2rem 0rem;
    margin: 3rem 0rem 3rem 0rem;
}

#audioRL {
    margin: 2rem 0rem 0rem 2rem;
}

h2 {
    size: 7rem;
}

.listeSpecifique {
    margin: 0rem 0rem 0rem 2rem;
    list-style-type: disc;
    text-indent: 2rem;
}

.listePersonnage {
    list-style-type: none;
    text-align: justify;
}

.listePersonnage li {
    margin: 0rem 0rem 0.5rem 0rem;
}

.tabSubTitle {
    background-image: url(../css/backgrounds/backgroundAnthraciteV2.png);
}

.flagIcon {
    width: 1.5rem;
    margin: 0rem 0rem 0rem 0.5rem;
}

#mkleoSummit4 {
    width: 43rem;
}

.characterIcon {
    width: 1.5rem;
    margin: 0rem 0.5rem 0rem 0rem;
}

.linkIcon {
    width: 5rem;
    margin: .5rem .5rem .5rem .5rem;
}

article {
    background-image: url("../css/backgrounds/backgroundAnthracite.png");
    border-style: inset;
    border-color: gold;
    border-width: 0.1em;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 1rem 1rem 1rem 1rem;
}

article ol {
    list-style-type: upper-roman;
    margin: 0rem 0rem 0rem 1rem;
}

.btn {
    color : gold;
    text-align: center;
    background-image: url("../css/backgrounds/backgroundAnthraciteV2.png");
    border: gold 0.1rem inset;
    border-radius: 1rem 1rem 1rem 1rem;
    font-family: 'Aller Regular';
    font-size: 1.3rem;
    width: 6.7rem;
    height: 4rem;
    margin: 2.4rem 1rem 1rem 1rem;
    cursor: url(../css/cursor/pngPasCasser/cursorPointer.png), auto;
}

button:hover {
    text-shadow: gold 1px 0 10px;
}

* {
    margin: 0rem;
    cursor: url(../css/cursor/pngPasCasser/cursor.png), auto;
}